---
#
---

@use "base";

/* Share buttons */
.sharebuttons {
	margin: 0 auto 0 auto;
}

.sharebuttons ul {
	margin: 20px 0 0 0;
	text-align: center;
}

.sharebuttons ul li {
	display: inline;
}

.sharebuttons ul li a {
	text-decoration: none;
}

.sharebuttons ul li svg {
	width: 40px;
	height: 40px;
}

.sharebuttons .facebook svg {
	fill: #1877f2;
}

.sharebuttons .twitter svg {
	fill: #1da1f2;
}

.sharebuttons .linkedin svg {
	fill: #0077b5;
}
